In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [46]:
# Read in our charity data
charity_df = pd.read_csv("charity_data.csv")

In [47]:
# characterize the data
# EIN and NAME - remove from dataset

# APPLICATION_TYPE t3 vs other
apptype_counts = charity_df.APPLICATION_TYPE.value_counts()
print(apptype_counts.head(25))

# Determine which values to replace
replace_APPLICATION_TYPE = list(apptype_counts[apptype_counts < 10000].index)

# Replace in DataFrame
for APPTYPE in replace_APPLICATION_TYPE:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(APPTYPE,"Other")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

T3       27037
Other     7262
Name: APPLICATION_TYPE, dtype: int64

In [48]:
# AFFILIATION 2 classes
AFFILIATION_counts = charity_df.AFFILIATION.value_counts()
print(AFFILIATION_counts.head(25))

# Determine which values to replace
replace_AFFILIATION = list(AFFILIATION_counts[(AFFILIATION_counts < 100) | (AFFILIATION_counts > 16000)].index)

# Replace in DataFrame
for country in replace_AFFILIATION:
    charity_df.AFFILIATION = charity_df.AFFILIATION.replace(country,"Other")


# Check to make sure binning was successful
charity_df.AFFILIATION.value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

Other               18594
CompanySponsored    15705
Name: AFFILIATION, dtype: int64

In [49]:
# CLASSIFICATION C1000 vs other
CLASSIFICATION_counts = charity_df.CLASSIFICATION.value_counts()
print(CLASSIFICATION_counts.head(25))

# Determine which values to replace
replace_CLASSIFICATION = list(CLASSIFICATION_counts[CLASSIFICATION_counts < 10000].index)

# Replace in DataFrame
for country in replace_CLASSIFICATION:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(country,"Other")


# Check to make sure binning was successful
charity_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
Name: CLASSIFICATION, dtype: int64

C1000    17326
Other    16973
Name: CLASSIFICATION, dtype: int64

In [50]:
# USE_CASE 2 classes
USE_CASE_counts = charity_df.USE_CASE.value_counts()
print(USE_CASE_counts.head(25))

# Determine which values to replace
replace_USE_CASE = list(USE_CASE_counts[(USE_CASE_counts < 1000) | (USE_CASE_counts > 10000)].index)

# Replace in DataFrame
for country in replace_USE_CASE:
    charity_df.USE_CASE = charity_df.USE_CASE.replace(country,"Other")


# Check to make sure binning was successful
charity_df.USE_CASE.value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

Other         28628
ProductDev     5671
Name: USE_CASE, dtype: int64

In [51]:
# ORGANIZATION 2 classes
ORGANIZATION_counts = charity_df.ORGANIZATION.value_counts()
print(ORGANIZATION_counts.head(25))

# Determine which values to replace
replace_ORGANIZATION = list(ORGANIZATION_counts[(ORGANIZATION_counts < 1000) | (ORGANIZATION_counts > 15000)].index)

# Replace in DataFrame
for country in replace_ORGANIZATION:
    charity_df.ORGANIZATION = charity_df.ORGANIZATION.replace(country,"Other")


# Check to make sure binning was successful
charity_df.ORGANIZATION.value_counts()

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

Other          24044
Association    10255
Name: ORGANIZATION, dtype: int64

In [20]:
# STATUS -remove
STATUS_counts = charity_df.STATUS.value_counts()
print(STATUS_counts.head(25))

1    34294
0        5
Name: STATUS, dtype: int64

In [52]:
# INCOME_AMT - start with none vs any; ordinal classes: 0; 1-9999, 10000-24999, 25000-99999, 100000-499999
INCOME_AMT_counts = charity_df.INCOME_AMT.value_counts()
print(INCOME_AMT_counts.head(25))

# Determine which values to replace
replace_INCOME_AMT = list(INCOME_AMT_counts[INCOME_AMT_counts < 5000].index)

# Replace in DataFrame
for country in replace_INCOME_AMT:
    charity_df.INCOME_AMT = charity_df.INCOME_AMT.replace(country,"Other")


# Check to make sure binning was successful
charity_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

0        24388
Other     9911
Name: INCOME_AMT, dtype: int64

In [23]:
# SPECIAL_CONSIDERATIONS - drop
SPECIAL_CONSIDERATIONS_counts = charity_df.SPECIAL_CONSIDERATIONS.value_counts()
print(SPECIAL_CONSIDERATIONS_counts.head(25))

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [24]:
# ASK_AMT drop
ASK_AMT_counts = charity_df.ASK_AMT.value_counts()
print(ASK_AMT_counts.head(25))

5000      25398
10478         3
15583         3
6725          3
63981         3
90834         2
8181          2
27159         2
6960          2
43814         2
8746          2
15039         2
6920          2
32141         2
60000         2
9537          2
5006          2
27944         2
7287          2
238933        2
16435         2
195661        2
17614         2
5894          2
7003          2
Name: ASK_AMT, dtype: int64

In [25]:
# IS_SUCCESSFUL yes vs no
IS_SUCCESSFUL_counts = charity_df.IS_SUCCESSFUL.value_counts()
print(IS_SUCCESSFUL_counts.head(25))

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [56]:
# drop EIN NAME, STATUS, SPECIAL_CONSIDERATIONS, ASK_AMT
# df.drop(['B', 'C'], axis=1)
charity_df = charity_df.drop(['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT'], axis=1)
charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,IS_SUCCESSFUL
0,Other,Other,C1000,ProductDev,Association,0,1
1,T3,Other,Other,Other,Other,Other,1
2,Other,CompanySponsored,Other,ProductDev,Association,0,0
3,T3,CompanySponsored,Other,Other,Other,Other,1
4,T3,Other,C1000,Other,Other,Other,1