In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [2]:
# Read in our charity data
charity_df = pd.read_csv("charity_data.csv")

In [3]:
charity_df.tail(50)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34249,990297069,PHAC NO 1 INC,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,3999445,0
34250,990298651,SUTTER HEALTH PACIFIC,T3,Independent,C1000,Heathcare,Trust,1,10M-50M,N,14241629,1
34251,990299264,HEALTHY MOTHERS HEALTHY BABIES COALITION OF HA...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,299684,0
34252,990300906,MAUI COUNTY COMMUNITY TELEVISION INC,T3,Independent,C1000,Preservation,Trust,1,1M-5M,N,3822376,0
34253,990303677,KEKAHU FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,267157,0
34254,990303731,KANEOHE BAY LODGE NO 2,T8,Independent,C1000,ProductDev,Association,1,0,N,5000,1
34255,990304187,IMPACT TEAMS INTERNATIONAL,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
34256,990304613,NATIONAL ASSOCIATION OF CHARITABLE GIFT PLANNERS,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,1
34257,990306548,H R A INC,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
34258,990310248,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
34259,990312337,POP WARNER LITTLE SCHOLARS INC,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,N,28842,1
34260,990312483,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34261,990313062,AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34262,990314472,HAWAII ASSOCIATION OF CERTIFIED ACUPUNCTURISTS,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
34263,990315057,FOUNDATIONS FOR FAMILIES,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,26556,1
34264,990316119,MST INC,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
34265,990317583,USA VOLLEYBALL INC,T3,Independent,C2100,Preservation,Trust,1,0,N,5000,1
34266,990319036,WEST HAWAII COUNTY BAND FRIENDS,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
34267,990322402,NATIONAL ASSOCIATION OF SCHOLARS,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
34268,990326764,TOPS CLUB INC,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,0
34269,990327355,DANIEL CHAPPIE JAMES JR LODGE NO 4,T10,Independent,C1000,Preservation,Association,1,0,N,5000,1
34270,990330272,HAWAII UNITED OKINAWA ASSOCIATION,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
34271,990332316,INTERNATIONAL CHRISTIAN SCHOOLS KONA,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,20881,0
34272,990332535,VISITOR ALOHA SOCIETY OF HAWAII,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,9043,1
34273,990335208,POP WARNER LITTLE SCHOLARS INC,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,1
34274,990337060,AMERICAN ORFF-SCHULWERK ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
34275,990341214,HONOR SOCIETY OF PHI KAPPA PHI,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
34276,990343488,BIG ISLAND MEDIATION,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,152764,0
34277,990346282,MOST WORSHIPFUL PRINCE HALL FREE & ACCEPTED MA...,T8,Family/Parent,C1000,CommunityServ,Trust,1,0,N,5000,1
34278,990346683,LEILEHUA HIGH SCHOOL BAND BOOSTER ASSOCIATION,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,8749,0
34279,990349550,DB PRODUCTIONS INC,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,11442,1
34280,990349752,FRIENDS OF HONOLULU CITY LIGHTS,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,401661,0
34281,990353084,CONSORTIUM FOR HAWAII ECOLOGICAL ENGINEERING E...,T3,Independent,C1000,Preservation,Trust,1,1M-5M,N,56261,1
34282,990353630,INSTITUTE OF INTERNAL AUDITORS,T6,CompanySponsored,C2000,ProductDev,Trust,1,0,N,5000,0
34283,990354718,ALOHA CHAPTER OF THE AMERICAN SOCIETY OF MILIT...,T6,Independent,C2000,ProductDev,Association,1,0,N,5000,0
34284,990355149,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Association,1,1M-5M,N,3384856,0
34285,990357128,LES DAMES D ESCOFFIER INTERNATIONAL INC,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
34286,990368715,UNITED FEDERATION OF DOLL CLUBS INC,T3,CompanySponsored,C2000,ProductDev,Trust,1,0,N,5000,0
34287,990371761,KENNESAW DREAM FOUNDATION INC,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,6713,1
34288,990376401,UNITED FEDERATION OF DOLL CLUBS INC,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
34289,990382020,SOLEA WATER,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,20197,1
34290,996006031,DISABLED AMERICAN VETERANS,T4,CompanySponsored,C3000,Preservation,Association,1,1-9999,N,5000,0
34291,996008763,AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34292,996008993,DISABLED AMERICAN VETERANS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34293,996009208,CHI EPSILON 49,T3,CompanySponsored,C1000,Preservation,Association,1,0,N,5000,1
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# characterize the data
# EIN and NAME - remove from dataset

# APPLICATION_TYPE t3 vs other
apptype_counts = charity_df.APPLICATION_TYPE.value_counts(dropna=False)
print(apptype_counts.head(25))

# Determine which values to replace
replace_avalue = list(apptype_counts[apptype_counts != 27037].index)

# Replace in DataFrame
for avalue in replace_avalue:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(avalue,"OtherThanT3")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts(dropna=False)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

T3             27037
OtherThanT3     7262
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# AFFILIATION 2 classes
AFFILIATION_counts = charity_df.AFFILIATION.value_counts(dropna=False)
print(AFFILIATION_counts.head(25))

# Determine which values to replace
replace_AFFILIATION = list(AFFILIATION_counts[(AFFILIATION_counts < 100) | (AFFILIATION_counts > 16000)].index)

# Replace in DataFrame
for country in replace_AFFILIATION:
    charity_df.AFFILIATION = charity_df.AFFILIATION.replace(country,"NotCompanySponsored")


# Check to make sure binning was successful
charity_df.AFFILIATION.value_counts(dropna=False)

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

NotCompanySponsored    18594
CompanySponsored       15705
Name: AFFILIATION, dtype: int64

In [6]:
# CLASSIFICATION C1000 vs other
CLASSIFICATION_counts = charity_df.CLASSIFICATION.value_counts(dropna=False)
print(CLASSIFICATION_counts.head(25))

# Determine which values to replace
replace_CLASSIFICATION = list(CLASSIFICATION_counts[CLASSIFICATION_counts < 2000].index)

# Replace in DataFrame
for country in replace_CLASSIFICATION:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(country,"Other")


# Check to make sure binning was successful
charity_df.CLASSIFICATION.value_counts(dropna=False)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
Name: CLASSIFICATION, dtype: int64

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [7]:
# USE_CASE 2 classes
USE_CASE_counts = charity_df.USE_CASE.value_counts(dropna=False)
print(USE_CASE_counts.head(25))

# Determine which values to replace
replace_USE_CASE = list(USE_CASE_counts[(USE_CASE_counts < 1000) | (USE_CASE_counts > 10000)].index)

# Replace in DataFrame
for country in replace_USE_CASE:
    charity_df.USE_CASE = charity_df.USE_CASE.replace(country,"OtherThanProductDev")


# Check to make sure binning was successful
charity_df.USE_CASE.value_counts(dropna=False)

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

OtherThanProductDev    28628
ProductDev              5671
Name: USE_CASE, dtype: int64

In [8]:
# ORGANIZATION 2 classes
ORGANIZATION_counts = charity_df.ORGANIZATION.value_counts(dropna=False)
print(ORGANIZATION_counts.head(25))

# Determine which values to replace
replace_ORGANIZATION = list(ORGANIZATION_counts[(ORGANIZATION_counts < 1000) | (ORGANIZATION_counts > 15000)].index)

# Replace in DataFrame
for country in replace_ORGANIZATION:
    charity_df.ORGANIZATION = charity_df.ORGANIZATION.replace(country,"OtherThanAssociation")


# Check to make sure binning was successful
charity_df.ORGANIZATION.value_counts(dropna=False)

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

OtherThanAssociation    24044
Association             10255
Name: ORGANIZATION, dtype: int64

In [9]:
# # INCOME_AMT - start with none vs any; ordinal classes: 0; 1-9999, 10000-24999, 25000-99999, 100000-499999

# INCOME_AMT_counts = charity_df.INCOME_AMT.value_counts(dropna=False)
# print(INCOME_AMT_counts.head(25))

# # Determine which values to replace
# replace_INCOME_AMT = list(INCOME_AMT_counts[INCOME_AMT_counts < 5000].index)

# # Replace in DataFrame
# for country in replace_INCOME_AMT:
#     charity_df.INCOME_AMT = charity_df.INCOME_AMT.replace(country,"AnyIncome")


# # Check to make sure binning was successful
# charity_df.INCOME_AMT.value_counts()

In [10]:
# STATUS -remove
STATUS_counts = charity_df.STATUS.value_counts(dropna=False)
print(STATUS_counts.head(25))

1    34294
0        5
Name: STATUS, dtype: int64

In [11]:
# charity_df['incomeCategoryRank']
charity_df.loc[charity_df['INCOME_AMT'] == '0', 'incomeGroupRank'] = 0

charity_df.loc[charity_df['INCOME_AMT'] == '1-9999', 'incomeGroupRank'] = 1
charity_df.loc[charity_df['INCOME_AMT'] == '10000-24999', 'incomeGroupRank'] = 2
charity_df.loc[charity_df['INCOME_AMT'] == '25000-99999', 'incomeGroupRank'] = 3
charity_df.loc[charity_df['INCOME_AMT'] == '100000-499999', 'incomeGroupRank'] = 4
charity_df.loc[charity_df['INCOME_AMT'] == '1M-5M', 'incomeGroupRank'] = 5
charity_df.loc[charity_df['INCOME_AMT'] == '5M-10M', 'incomeGroupRank'] = 6
charity_df.loc[charity_df['INCOME_AMT'] == '10M-50M', 'incomeGroupRank'] = 7
charity_df.loc[charity_df['INCOME_AMT'] == '50M+', 'incomeGroupRank'] = 8
          
            
charity_df.head(20)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,incomeGroupRank
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,OtherThanT3,NotCompanySponsored,C1000,ProductDev,Association,1,0,N,5000,1,0.0
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,NotCompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,1-9999,N,108590,1,1.0
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,OtherThanT3,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0,0.0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,10000-24999,N,6692,1,2.0
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,100000-499999,N,142590,1,4.0
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,NotCompanySponsored,C1200,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,1,0.0
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,100000-499999,N,31452,1,4.0
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,NotCompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,10M-50M,N,7508025,1,7.0
8,10570430,ARAMCO BRATS INC,OtherThanT3,NotCompanySponsored,C1000,ProductDev,OtherThanAssociation,1,1-9999,N,94389,1,1.0
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,OtherThanT3,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0,0.0
10,10573059,KAI ELUA OUTRIGGER CANOE CLUB,T3,NotCompanySponsored,C1200,OtherThanProductDev,OtherThanAssociation,1,25000-99999,N,69656,0,3.0
11,10575727,HERITAGE ACADEMY,T3,NotCompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,100000-499999,N,165593,0,4.0
12,10583569,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,OtherThanProductDev,Association,1,0,N,5000,1,0.0
13,10585206,DOMINION INTERNATIONAL NETWORK OF MINISTRIES &...,T3,NotCompanySponsored,Other,OtherThanProductDev,OtherThanAssociation,1,25000-99999,N,5301,1,3.0
14,10585443,V O W FOUNDATION,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,1,0.0
15,10596727,JOSEPH E PEEBLES JR FOUNDATION,T3,NotCompanySponsored,C1200,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,1,0.0
16,10602428,WASHINGTON ASSOCIATION OF PHYSICIANS OF INDIAN...,T3,NotCompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,1,0.0
17,10603214,SAINT FRANCIS HOSPITAL SOUTH LLC,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,50M+,N,86380556,0,8.0
18,10604986,ANCHORAGE COMMUNITY MENTAL HEALTH SERVICES,T3,CompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,0,0.0
19,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,100000-499999,N,376109,0,4.0

In [12]:
# charity_df['incomeCategoryRank']
charity_df.loc[charity_df['INCOME_AMT'] == '0', 'incomeGroupMed'] = 0

charity_df.loc[charity_df['INCOME_AMT'] == '1-9999', 'incomeGroupMed'] = 5000
charity_df.loc[charity_df['INCOME_AMT'] == '10000-24999', 'incomeGroupMed'] = 17500
charity_df.loc[charity_df['INCOME_AMT'] == '25000-99999', 'incomeGroupMed'] = 62500
charity_df.loc[charity_df['INCOME_AMT'] == '100000-499999', 'incomeGroupMed'] = 300000
charity_df.loc[charity_df['INCOME_AMT'] == '1M-5M', 'incomeGroupMed'] = 3000000
charity_df.loc[charity_df['INCOME_AMT'] == '5M-10M', 'incomeGroupMed'] = 7500000
charity_df.loc[charity_df['INCOME_AMT'] == '10M-50M', 'incomeGroupMed'] = 30000000
charity_df.loc[charity_df['INCOME_AMT'] == '50M+', 'incomeGroupMed'] = 50000000
          
            
charity_df.head(20)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,incomeGroupRank,incomeGroupMed
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,OtherThanT3,NotCompanySponsored,C1000,ProductDev,Association,1,0,N,5000,1,0.0,0.0
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,NotCompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,1-9999,N,108590,1,1.0,5000.0
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,OtherThanT3,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0,0.0,0.0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,10000-24999,N,6692,1,2.0,17500.0
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,100000-499999,N,142590,1,4.0,300000.0
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,NotCompanySponsored,C1200,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,1,0.0,0.0
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,100000-499999,N,31452,1,4.0,300000.0
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,NotCompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,10M-50M,N,7508025,1,7.0,1000000.0
8,10570430,ARAMCO BRATS INC,OtherThanT3,NotCompanySponsored,C1000,ProductDev,OtherThanAssociation,1,1-9999,N,94389,1,1.0,5000.0
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,OtherThanT3,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0,0.0,0.0
10,10573059,KAI ELUA OUTRIGGER CANOE CLUB,T3,NotCompanySponsored,C1200,OtherThanProductDev,OtherThanAssociation,1,25000-99999,N,69656,0,3.0,62500.0
11,10575727,HERITAGE ACADEMY,T3,NotCompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,100000-499999,N,165593,0,4.0,300000.0
12,10583569,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,OtherThanProductDev,Association,1,0,N,5000,1,0.0,0.0
13,10585206,DOMINION INTERNATIONAL NETWORK OF MINISTRIES &...,T3,NotCompanySponsored,Other,OtherThanProductDev,OtherThanAssociation,1,25000-99999,N,5301,1,3.0,62500.0
14,10585443,V O W FOUNDATION,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,1,0.0,0.0
15,10596727,JOSEPH E PEEBLES JR FOUNDATION,T3,NotCompanySponsored,C1200,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,1,0.0,0.0
16,10602428,WASHINGTON ASSOCIATION OF PHYSICIANS OF INDIAN...,T3,NotCompanySponsored,C2000,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,1,0.0,0.0
17,10603214,SAINT FRANCIS HOSPITAL SOUTH LLC,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,50M+,N,86380556,0,8.0,1000000.0
18,10604986,ANCHORAGE COMMUNITY MENTAL HEALTH SERVICES,T3,CompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,0,N,5000,0,0.0,0.0
19,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,1,100000-499999,N,376109,0,4.0,300000.0

In [13]:
# SPECIAL_CONSIDERATIONS - drop
SPECIAL_CONSIDERATIONS_counts = charity_df.SPECIAL_CONSIDERATIONS.value_counts(dropna=False)
print(SPECIAL_CONSIDERATIONS_counts.head(25))

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [14]:
# ASK_AMT 
charity_df['askAmount'] = charity_df['ASK_AMT'].astype('float64')

In [15]:
charity_df['APPLICATION_TYPE'] = charity_df['APPLICATION_TYPE'].astype('str')
charity_df['AFFILIATION'] = charity_df['AFFILIATION'].astype('str')
charity_df['CLASSIFICATION'] = charity_df['CLASSIFICATION'].astype('str')
charity_df['USE_CASE'] = charity_df['USE_CASE'].astype('str')
charity_df['ORGANIZATION'] = charity_df['ORGANIZATION'].astype('str')

# Visualize the value counts
print(charity_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
 12  incomeGroupRank         34299 non-null  float64
 13  incomeGroupMed          34299 non-null  float64
 14  askAmount               34299 non-null  float64
dtypes: float64(3), int64(4), object(8)
memory usage: 3.9+ MB
None

In [16]:
# IS_SUCCESSFUL yes vs no
IS_SUCCESSFUL_counts = charity_df.IS_SUCCESSFUL.value_counts(dropna=False)
print(IS_SUCCESSFUL_counts.head(25))

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [17]:
# drop EIN NAME, STATUS, SPECIAL_CONSIDERATIONS, ASK_AMT
# df.drop(['B', 'C'], axis=1)
charity_df = charity_df.drop(['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'INCOME_AMT'], axis=1)
charity_df.tail()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,IS_SUCCESSFUL,incomeGroupRank,incomeGroupMed,askAmount
34294,OtherThanT3,NotCompanySponsored,C1000,ProductDev,Association,0,0.0,0.0,5000.0
34295,OtherThanT3,CompanySponsored,Other,ProductDev,Association,0,0.0,0.0,5000.0
34296,T3,CompanySponsored,C2000,OtherThanProductDev,Association,0,0.0,0.0,5000.0
34297,OtherThanT3,NotCompanySponsored,Other,ProductDev,Association,1,0.0,0.0,5000.0
34298,T3,NotCompanySponsored,C1000,OtherThanProductDev,OtherThanAssociation,0,5.0,1000000.0,36500179.0

In [18]:
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
# Create the OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [19]:
# Fit the encoder and produce encoded DataFrame
a_df = pd.DataFrame(enc.fit_transform(charity_df.APPLICATION_TYPE.values.reshape(-1,1)))
a_df.columns = enc.get_feature_names(['APPLICATION_TYPE'])
b_df = pd.DataFrame(enc.fit_transform(charity_df.AFFILIATION.values.reshape(-1,1)))
b_df.columns = enc.get_feature_names(['AFFILIATION'])
c_df = pd.DataFrame(enc.fit_transform(charity_df.CLASSIFICATION.values.reshape(-1,1)))
c_df.columns = enc.get_feature_names(['CLASSIFICATION'])
d_df = pd.DataFrame(enc.fit_transform(charity_df.USE_CASE.values.reshape(-1,1)))
d_df.columns = enc.get_feature_names(['USE_CASE'])
e_df = pd.DataFrame(enc.fit_transform(charity_df.ORGANIZATION.values.reshape(-1,1)))
e_df.columns = enc.get_feature_names(['ORGANIZATION'])

In [20]:
ab = a_df.merge(b_df,left_index=True, right_index=True, how='left')
abc = ab.merge(c_df,left_index=True, right_index=True, how='left')
abcd = abc.merge(d_df,left_index=True, right_index=True, how='left')
abcde = abcd.merge(e_df,left_index=True, right_index=True, how='left')
abcde

,APPLICATION_TYPE_OtherThanT3,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_NotCompanySponsored,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_Other,USE_CASE_OtherThanProductDev,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_OtherThanAssociation
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
34295,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
34296,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
34297,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
34298,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [21]:
cols = ['APPLICATION_TYPE_T3', 'AFFILIATION_CompanySponsored', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C1200', 'USE_CASE_ProductDev', 'ORGANIZATION_Association']
abcde_df = pd.DataFrame(abcde, columns=cols)
abcde_df

,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,CLASSIFICATION_C1000,CLASSIFICATION_C2000,CLASSIFICATION_C1200,USE_CASE_ProductDev,ORGANIZATION_Association
0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,1.0,1.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
34294,0.0,0.0,1.0,0.0,0.0,1.0,1.0
34295,0.0,1.0,0.0,0.0,0.0,1.0,1.0
34296,1.0,1.0,0.0,1.0,0.0,0.0,1.0
34297,0.0,0.0,0.0,0.0,0.0,1.0,1.0
34298,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [22]:
cont_df = charity_df[['incomeGroupMed', 'askAmount', "IS_SUCCESSFUL"]]

char_df = cont_df.merge(abcde_df, left_index=True, right_index=True, how='left')

print(char_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   incomeGroupMed                34299 non-null  float64
 1   askAmount                     34299 non-null  float64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_T3           34299 non-null  float64
 4   AFFILIATION_CompanySponsored  34299 non-null  float64
 5   CLASSIFICATION_C1000          34299 non-null  float64
 6   CLASSIFICATION_C2000          34299 non-null  float64
 7   CLASSIFICATION_C1200          34299 non-null  float64
 8   USE_CASE_ProductDev           34299 non-null  float64
 9   ORGANIZATION_Association      34299 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 2.6 MB
None

In [23]:
numeric_features = ['incomeGroupMed', 'askAmount']
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

preprocessor = ColumnTransformer(
    transformers=[('num', numeric_transformer, numeric_features)])

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
scaled_data = preprocessor.fit_transform(char_df)

In [24]:
keepcols = ['APPLICATION_TYPE_T3', 'AFFILIATION_CompanySponsored', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C1200', 'USE_CASE_ProductDev', 'ORGANIZATION_Association', "IS_SUCCESSFUL"]

scaled = pd.DataFrame(scaled_data, columns=['incomeGroupMed_x', 'askAmount_x'])
chars_df = char_df[keepcols]
presplit_df = scaled.merge(chars_df, left_index=True,right_index=True, how='left')
presplit_df

,incomeGroupMed_x,askAmount_x,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,CLASSIFICATION_C1000,CLASSIFICATION_C2000,CLASSIFICATION_C1200,USE_CASE_ProductDev,ORGANIZATION_Association,IS_SUCCESSFUL
0,-0.373627,-0.031725,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1
1,-0.350566,-0.030536,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2,-0.373627,-0.031725,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0
3,-0.292914,-0.031706,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1
4,1.010023,-0.030146,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...
34294,-0.373627,-0.031725,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0
34295,-0.373627,-0.031725,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0
34296,-0.373627,-0.031725,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0
34297,-0.373627,-0.031725,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1
34298,4.238539,0.387138,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0

In [25]:
# Split our preprocessed data into our features and target arrays
y = presplit_df[["IS_SUCCESSFUL"]]
X = presplit_df.drop("IS_SUCCESSFUL", axis=1)
X

,incomeGroupMed_x,askAmount_x,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,CLASSIFICATION_C1000,CLASSIFICATION_C2000,CLASSIFICATION_C1200,USE_CASE_ProductDev,ORGANIZATION_Association
0,-0.373627,-0.031725,0.0,0.0,1.0,0.0,0.0,1.0,1.0
1,-0.350566,-0.030536,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.373627,-0.031725,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,-0.292914,-0.031706,1.0,1.0,0.0,1.0,0.0,0.0,0.0
4,1.010023,-0.030146,1.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
34294,-0.373627,-0.031725,0.0,0.0,1.0,0.0,0.0,1.0,1.0
34295,-0.373627,-0.031725,0.0,1.0,0.0,0.0,0.0,1.0,1.0
34296,-0.373627,-0.031725,1.0,1.0,0.0,1.0,0.0,0.0,1.0
34297,-0.373627,-0.031725,0.0,0.0,0.0,0.0,0.0,1.0,1.0
34298,4.238539,0.387138,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
X_train

,incomeGroupMed_x,askAmount_x,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,CLASSIFICATION_C1000,CLASSIFICATION_C2000,CLASSIFICATION_C1200,USE_CASE_ProductDev,ORGANIZATION_Association
30531,-0.373627,-0.031725,0.0,1.0,0.0,1.0,0.0,1.0,0.0
22775,-0.373627,-0.031725,1.0,1.0,1.0,0.0,0.0,0.0,0.0
19057,-0.373627,-0.031725,1.0,1.0,0.0,0.0,0.0,0.0,0.0
27536,-0.373627,-0.031725,1.0,0.0,0.0,0.0,1.0,0.0,0.0
21331,4.238539,0.095857,1.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
20558,1.010023,-0.031188,1.0,0.0,1.0,0.0,0.0,0.0,0.0
18547,1.010023,-0.031149,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3476,-0.085367,-0.030596,0.0,1.0,0.0,0.0,0.0,1.0,1.0
22633,-0.373627,-0.031725,1.0,1.0,0.0,0.0,1.0,0.0,1.0
16854,4.238539,-0.010329,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [31]:
# Define the model - deep neural net
number_input_features = 9
hidden_nodes_layer1 =  25
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 25)                250
_________________________________________________________________
dense_4 (Dense)              (None, 20)                520
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 21
=================================================================
Total params: 791
Trainable params: 791
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50)

Epoch 1/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.6135 - acc: 0.6912
Epoch 2/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5921 - acc: 0.7067
Epoch 3/50
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5876 - acc: 0.7091
Epoch 4/50
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5847 - acc: 0.7096
Epoch 5/50
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5838 - acc: 0.7094
Epoch 6/50
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5825 - acc: 0.7093
Epoch 7/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5819 - acc: 0.7102
Epoch 8/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5812 - acc: 0.7102
Epoch 9/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5813 - acc: 0.7106
Epoch 10/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5807 - acc: 0.7102
Epoch 11/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5801 - acc: 0.7121
Epoch 12/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5806 - acc: 0.7110
Epoch 13/50
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5800 - acc: 0.7096
Epoch 14/50
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5801 - acc: 0.7099
Epoch 15/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5800 - acc: 0.7107
Epoch 16/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5798 - acc: 0.7101
Epoch 17/50
25724/25724 [==============================] - 2s 73us/sample - loss: 0.5799 - acc: 0.7102
Epoch 18/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5792 - acc: 0.7114
Epoch 19/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5797 - acc: 0.7103
Epoch 20/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5796 - acc: 0.7101
Epoch 21/50
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5790 - acc: 0.7099
Epoch 22/50
25724/25724 [==============================] - 2s 77us/sample - loss: 0.5795 - acc: 0.7108
Epoch 23/50
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5792 - acc: 0.7106
Epoch 24/50
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5793 - acc: 0.7114
Epoch 25/50
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5791 - acc: 0.7110
Epoch 26/50
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5790 - acc: 0.7118
Epoch 27/50
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5792 - acc: 0.7112
Epoch 28/50
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5787 - acc: 0.7110
Epoch 29/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5788 - acc: 0.7119
Epoch 30/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5791 - acc: 0.7112
Epoch 31/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5785 - acc: 0.7116
Epoch 32/50
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5786 - acc: 0.7111
Epoch 33/50
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5790 - acc: 0.7114
Epoch 34/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5787 - acc: 0.7117
Epoch 35/50
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5788 - acc: 0.7100
Epoch 36/50
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5786 - acc: 0.7103
Epoch 37/50
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5784 - acc: 0.7105
Epoch 38/50
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5783 - acc: 0.7125
Epoch 39/50
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5784 - acc: 0.7112
Epoch 40/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5785 - acc: 0.7111
Epoch 41/50
25724/25724 [==============================] - 2s 73us/sample - loss: 0.5785 - acc: 0.7110
Epoch 42/50
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5782 - acc: 0.7114
Epoch 43/50
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5783 - acc: 0.7120
Epoch 44/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5781 - acc: 0.7112
Epoch 45/50
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5782 - acc: 0.7109
Epoch 46/50
25724/25724 [==============================] - 1s 40us/sample - loss: 0.5780 - acc: 0.7130
Epoch 47/50
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5779 - acc: 0.7116
Epoch 48/50
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5779 - acc: 0.7130
Epoch 49/50
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5774 - acc: 0.7124
Epoch 50/50
25724/25724 [==============================] - 1s 40us/sample - loss: 0.5777 - acc: 0.7118

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5847 - acc: 0.7038
Loss: 0.5847434607261124, Accuracy: 0.7037900686264038